<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regular Schedule</title>
    <script src="../js/clock.js"></script>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <p id="dailySchedule">Standard</p>
    <section class="yellow">
        <p id="until"></p>
        <p id="countDown"></p>
    </section>
    <section class="yellow smaller">
        <p id="date"></p>
        <p id="dateTime"></p>
    </section>
    <div id="joke" class="joke">Joke goes here!!</div>
</body>
</html>